<style>
  table, th, td {
    border: 1px solid rgb(250, 247, 247);
  }
  h2 {
    font-family: "Times New Roman", Times, serif;
  }
  
  th {
    background-color: green;
  }
</style>
  td {
    color: white;
    font-family: Arial, sans-serif;
  }
  tr th {
    color: white;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  